page-mytrips_passenger {
  .font_style{
    position: relative;
    bottom: 1%;
    text-align: center;
    font-family:Trebuchet MS, Arial, Helvetica, sans-serif;
    font-size: 28px;
    color:rgb(54, 139, 250);
  }

  .bg-image{
    background-image: url('../assets/imgs/ak3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: fill;
}

.toolbar-background {
  background-color: rgba(0, 0, 0, 0.336);
}

.nav_color{
  border-bottom: 3px solid rgb(54, 139, 250);
}

.my-menu {
  background-color:  rgba(0, 0, 0, 0.322);
  position: relative;
  top: 5%;
  bottom: 100px;
  border: 3px solid rgb(54, 139, 250);
  border-radius: 10px;
  }

.right{
  background-color:  rgba(0, 0, 0, 0);
  border-left: 5px solid grey
}

.my-menu .item, .my-menu .item-content, .my-menu .item-complex{
  background-color: rgba(0, 0, 0, 0);
  color: #FFFFFF;
  }
}
