page-maketrip {
  .bg-image{
    background-image: url('../assets/imgs/ak3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: fill;
}

.font_style{
  position: relative;
  top: 8%;
  text-align: center;
  font-family:Trebuchet MS, Arial, Helvetica, sans-serif;
  font-size: 28px;
}

.font_style_tag{
  position: relative;
  top: 9%;
  text-align: center;
  font-family:Trebuchet MS, Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.my-menu {
  background-color:  rgba(0, 0, 0, 0.322);
  position: relative;
  top: 10%;
  bottom: 100px;
  border: 3px solid rgb(54, 139, 250);
  border-radius: 10px;
  }

.my-menu .item, .my-menu .item-content, .my-menu .item-complex{
  background-color: rgba(0, 0, 0, 0);
  color: #FFFFFF;
  }

  .header{
    background-color:'primary';
  }

  .white-font{
    color:aliceblue;
  }

.my-title {
  display: flex;
  align-items: center;
}

}
