<!--
  Generated template for the SchedulePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>schedule</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg-image">

            <ion-item>
              <ion-label>Day</ion-label>
              <ion-select required="" type="text" [(ngModel)]="day" okText="Okay" cancelText="Dismiss"
              placeholder={{userschedule?.sattype}}>
                  <ion-option *ngFor="let day of days" [value]="day" >{{day}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>start</ion-label>
                <ion-select required="" type="text" [(ngModel)]="time"   okText="Okay" cancelText="Dismiss" >
                  <ion-option *ngFor="let time of times" [value]="time">{{time}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Trip Type</ion-label>
                <ion-select required="" type="text" [(ngModel)]="type"   okText="Okay" cancelText="Dismiss" >
                  <ion-option *ngFor="let type of types" [value]="type">{{type}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <button   (click)="openNavDetailsPage(item)" >

                  Start Location
              </button>
              </ion-item>
              <ion-item>
              <button ion-button  (click)="openNavDetailsPage(item)" >

                   Location 1
                  </button>
              </ion-item>
              <button ion-item *ngFor="let item of items" (click)="openNavDetailsPage(item)" icon-start>
                     <ion-icon [name]="'logo-' + item.icon" [ngStyle]="{'color': item.color}" item-start></ion-icon>
                  Location 2
                  </button>

                <button ion-item *ngFor="let item of items" (click)="openNavDetailsPage(item)" icon-start>
                       <ion-icon [name]="'logo-' + item.icon" [ngStyle]="{'color': item.color}" item-start></ion-icon>
                    Location 3
                    </button>


</ion-content>
