
<ion-header>

    <ion-navbar color="primary">
        <img   [src]="this.myPhotoURL">
    </ion-navbar>

</ion-header>


<ion-content padding class="bg-image">

    <ion-label class="font_style">Sign Up Now!</ion-label>
    <div><p><br></p></div>

    <ion-list class="my-menu" >
	<form [formGroup]="signupForm" (submit)="signupUser()" novalidate>

    <ion-item>
      <ion-label stacked style="color:aliceblue">Email</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Your email address"
        [class.invalid]="!signupForm.controls.email.valid && blur">
      </ion-input>
    </ion-item>

     <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid
    && signupForm.controls.email.touched">
      <p style="color:aliceblue">Please enter a valid email.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked style="color:aliceblue">Password</ion-label>
      <ion-input formControlName="password" type="password" placeholder="Your password"
        [class.invalid]="!signupForm.controls.password.valid && blur">
      </ion-input>
    </ion-item>

    <ion-item class="error-message"
    *ngIf="!signupForm.controls.password.valid  &&
    signupForm.controls.password.touched">
      <p style="color:aliceblue">Your password needs more than 6 characters.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked style="color:aliceblue">Confirm Password</ion-label>
      <ion-input formControlName="confirmpassword" type="password" placeholder="Your password"
        [class.invalid]="!signupForm.controls.confirmpassword.valid && blur">
      </ion-input>
    </ion-item>

      <ion-item class='form-text error' *ngIf="signupForm.controls.confirmpassword.touched && signupForm.hasError('mismatchedPasswords') && signupForm.controls.password.valid">
        <ion-label no-margin stacked style="color:aliceblue">Passwords do not match</ion-label>
      </ion-item>


    <ion-item>
      <ion-label stacked style="color:aliceblue">Full name</ion-label>
      <ion-input formControlName="name" type="text" placeholder="Your name"
      [class.invalid]="!signupForm.controls.name.valid && blur">
      </ion-input>
    </ion-item>

    <ion-item class="error-message"
    *ngIf="!signupForm.controls.name.valid  &&
    signupForm.controls.name.touched">
      <p style="color:aliceblue">Your name is must not exceed 20 letters</p>
    </ion-item>


    <ion-item>
      <ion-label stacked style="color:aliceblue">College Id</ion-label>
      <ion-input formControlName="id" type="number" placeholder="Your Id"
      [class.invalid]="!signupForm.controls.id.valid && blur">

      </ion-input>
    </ion-item>

    <ion-item class="error-message"
    *ngIf="!signupForm.controls.id.valid  &&
    signupForm.controls.id.touched">
      <p style="color:aliceblue">Your id is not correct</p>
    </ion-item>

    <ion-item>
      <ion-label stacked style="color:aliceblue">Phone Number</ion-label>
      <ion-input formControlName="phone" type="number" placeholder="Your phone number"
      [class.invalid]="!signupForm.controls.phone.valid && blur">

      </ion-input>
    </ion-item>

    <ion-item class="error-message"
    *ngIf="!signupForm.controls.phone.valid  &&
    signupForm.controls.phone.touched">
      <p style="color:aliceblue">please enter avalid phone number</p>
    </ion-item>

  <ion-item>
  <ion-label style="color:aliceblue">college</ion-label>
  <ion-select required="" type="text" formControlName="college" okText="Okay"
   cancelText="Dismiss" (ionChange)="onCollegeChange()"  style="background-image: none !important">
    <ion-option *ngFor="let college of collages" [value]="college">{{college}}</ion-option>
  </ion-select>
</ion-item>



 <ion-item>
  <ion-label style="color:aliceblue">Department</ion-label>
  <ion-select required="" type="text" formControlName="department" okText="Okay"
   cancelText="Dismiss" style="background-image: none !important">
    <ion-option *ngFor="let department of departments" [value]="department">{{department}}</ion-option>
  </ion-select>
</ion-item>


    <button ion-button block round type="submit" [disabled]="!signupForm.valid">
      Create an Account
    </button>

  </form>
</ion-list>
</ion-content>
